# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.log
*.zip
*.tar.gz

# Go
*.test
*.out

# Java
*.class
*.jar
*.war
*.nar
*.ear
*.rar

# Enviroment files
.DS_Store
thumbs.db
.vscode
*.code-workspace

# Experiment test files
randomFile.txt
sortedFile.txt
results.txt
